#countLabel{
    display: block;
    text-align: center;
    font-size: 10em;
    font-family: Helvetica;
}
#btnContainer{
    text-align: center;
}
.buttons1{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(231, 69%, 58%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons2{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(354, 90%, 50%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons3{
    padding: 10px 20px;
    font-size: 1.5em;
    color: white;
    background-color: hsl(118, 86%, 47%);
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.25s;
}
.buttons1:hover{
    background-color: hsl(231, 100%, 56%);
}
.buttons2:hover{
    background-color: hsl(354, 100%, 56%);
}
.buttons3:hover{
    background-color: hsl(118, 100%, 56%);
}